/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 100px; /* Altura aproximada do footer */
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: calc(100vh - 200px);
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar-brand {
    padding: 5px;
}

.icon-128-h {
    height: 128px;
}

/* CLASSES ESPECIFICAS DA APLICAÇÃO */
.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}

.mt-2 {
    margin-top: 0.50rem !important;
}

.mt-3 {
    margin-top: 0.75rem !important;
}

.row .col-md-3 span {
    font-size: 200%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px 15px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

footer p {
    margin: 0;
    padding-left: 0;
}
